body {
    background-color: rgb(155, 190, 221);
    font-family: "Montserrat", "Open Sans", Helvetica, Arial, sans-serif;
    text-align: center;
    position: relative;
}

button {
    display: inline-block;
    border-radius: 4px;  
    background-color: #758ed3;  
    text-align: center;  
    padding: 20px;  
    width: 300px;  
    transition: all 0.5s;  
    cursor: pointer;  
    font-size: 1.2rem;
    margin: 10px;
}

.display {
    color: black;
    font-size: 1.2rem;
}

.low-usage {
    color: green;
  }
  
.high-usage {
    color: red;
}

.psmOn {
    background-color: green;
}

.psmOff {
    background-color: red;
}

#tempValue {
    font-size: 3em;
}


